.item {
  padding: 26px 26px 26px 13px;
  width: 322px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  color: #11142d;
  margin-bottom: 7px;
}
.text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 11px;
  color: #aaa;
}
